[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CoronaNetR"]
	path = CoronaNetR
	url = https://github.com/coronanetdatascience/coronanetr
